# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production

# PHP / Laravel tooling
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
composer.lock
Homestead.json
Homestead.yaml

# IDE / Editor configs
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Node / React
node_modules/
/react-frontend/package-lock.json

# Laravel build / cache / vendor
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/
/bootstrap/

# React build (if you generate dist or build folder)
react-frontend/dist/
